body {
    margin: 0;
}

a:hover {
    color: rgb(255, 166, 0)
}

/**Navbar section**/

header {
    background-color: #1f2937;
    padding: 15px 20% 45px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content:flex-end;
    gap: 16px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.logo {
    height: 100%;
    width: 64px;
    border-radius: 100%;
    margin-right: 24px;
}

/**Hero section**/

.hero {
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 100px;
    gap: 8px ;
}

h1 {
    margin: 0;
    padding-right: 64px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e5e7eb;
    font-size: 18px;
    width: 450px;

}

.hero-img {
    margin-left: 24px;
    height: 225px;
    width: 450px;
}

img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero-btn {
    border-radius: 6px;
    background-color: #3882F6;
    width: fit-content;
    padding: 4px 24px 4px 24px;
    margin-right: auto;
}

.contact-btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

/**Info Section**/

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.info-container {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 50px;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
    width: 150px;
}

.info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 3px #3882F6;
    height: 144px;
    width: 144px;
}

.info-img > img {
    border-radius: 7px;
}

.info-subtxt {
    text-align: center;
    margin: 4px;
}